.App {
  text-align: center;
  width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
}

body{
  background: #0F0E11;
  color:#fff;
}

.streams-list, .clips-list{
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  padding: 0;
  justify-content: space-around;
}

.streams-list li, .clips-list li{
  flex-basis:480px;
  color: rgb(218, 216, 222);;
  margin-bottom: 30px;
  text-align:left;
}

.streams-list li img{
  display: block;
  margin-bottom: 10px;
}

.title{
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}


.nav-button{
  display: inline-block;
  padding: 10px 20px;
  background: #4B367C;
  border:1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor:pointer;
}

.marg1{
    margin: 0 18px;
}

.stream-link{
  display: block;
  text-decoration: none;
  color: #fff;
}

.search-field{
  display: block;
  width: 350px;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #4B367C;
}

.search-form{margin-bottom: 30px;}
.result-stream{text-align:left; width: 640px; margin: 0 auto;}
.result-stream-link{display: block;}

.result-profile>a{
  display: flex;
  text-decoration: none;
  color:#fff;
  width: 600px;
  margin: 0 auto;
  align-items:center;
}

.result-profile img{
  border-radius:50%;
  width: 150px; height: 150px;
  margin-right: 10px;
}

.result-profile p{margin: 0; font-size: 20px; font-weight: bold;}
.nomt{ margin-top: 0; }
.result-stream .nav-button, .result-profile .nav-button{
  margin-bottom: 20px;
}
